In [15]:
import pandas as pd

# Series

### Different ways to create a Series

In [ ]:
pd.Series(range(10))

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
# Series using numpy array
import numpy as np
n = np.arange(1,11)
pd.Series(n)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [ ]:
pd.Series(np.random.random(5))

0    0.196644
1    0.310155
2    0.300467
3    0.312493
4    0.128369
dtype: float64

In [ ]:
# using dict
d = {1:100,2:200,3:300}
pd.Series(d)
# keys become an index

1    100
2    200
3    300
dtype: int64

In [ ]:
pd.Series({'pune':'amol','mumbai':'nitish','sangli':'sushant'})

pune         amol
mumbai     nitish
sangli    sushant
dtype: object

In [ ]:
# how to create a scalar series
# means all values set to constant
pd.Series('Pune')

0    Pune
dtype: object

In [ ]:
pd.Series('Pune',index=range(100,105))

100    Pune
101    Pune
102    Pune
103    Pune
104    Pune
dtype: object

# Methods related to Series

In [16]:
import numpy as np
s = pd.Series(np.random.randint(low=2,high=12,size=10))
s

0     8
1     8
2     7
3     8
4     8
5     2
6    11
7    11
8     2
9     2
dtype: int64

## drop()

In [17]:
#Remove elements of a Series based on specifying the index labels.
# if we want to remove elements from a row
#then specify index
s.drop(index=4)

0     8
1     8
2     7
3     8
5     2
6    11
7    11
8     2
9     2
dtype: int64

In [18]:
# above drop operation is temp.
# in order to make it permenant use inplace
s.drop(index=4,inplace= True)

In [19]:
s

0     8
1     8
2     7
3     8
5     2
6    11
7    11
8     2
9     2
dtype: int64

In [20]:
# we can also supply multiple indices
s.drop(index=[0,2,5,8])

1     8
3     8
6    11
7    11
9     2
dtype: int64

In [21]:
# drop elements from index 5 to 7
s.drop(index=range(5,8))

0    8
1    8
2    7
3    8
8    2
9    2
dtype: int64

### drop_duplicates()

In [22]:
s

0     8
1     8
2     7
3     8
5     2
6    11
7    11
8     2
9     2
dtype: int64

In [23]:
s.drop_duplicates()
# keep first occurance

0     8
2     7
5     2
6    11
dtype: int64

In [24]:
s.drop_duplicates(keep='last')
# keep last occurance

2     7
3     8
7    11
9     2
dtype: int64

In [25]:
# if we want to remove all duplicates
s.drop_duplicates(keep=False)

2    7
dtype: int64

In [32]:
# when we delete some elements then our index is not in proper order
# to bring it in normal order use reset_index
ss = s.drop_duplicates()
ss.reset_index()  # use drop= True if we dont want index column which is populated with old indices

   index   0
0      0   8
1      2   7
2      5   2
3      6  11

In [33]:
f = pd.Series(['A','B','C','A','A','B'])
f

0    A
1    B
2    C
3    A
4    A
5    B
dtype: object

In [34]:
f.drop(index=3)

0    A
1    B
2    C
4    A
5    B
dtype: object

In [35]:
f

0    A
1    B
2    C
3    A
4    A
5    B
dtype: object

In [36]:
f.drop(index=3,inplace=True)

In [37]:
f

0    A
1    B
2    C
4    A
5    B
dtype: object

# Assignment: Create a Series of Names add some duplicate entries and check drop_duplicates()
# with keep= First,Last and False

# ------------------------------------------------------------

In [38]:
# Lets deal with NaN: Not a Number
# when we have missing entries/Empty/Null value
# then its NaN for pandas
import numpy as np
d = pd.Series([np.nan,100,230,np.nan])
d

0      NaN
1    100.0
2    230.0
3      NaN
dtype: float64

In [40]:
# to remove nan
# use dropna (temp.)
d.dropna()

1    100.0
2    230.0
dtype: float64

In [41]:
#Q. how to check missing data: isna() and isnull()
d.isna()

0     True
1    False
2    False
3     True
dtype: bool

In [43]:
# how to count missing entries
d.isna().sum()

2

In [42]:
True+False+False+True+True+True

4

# ----------------------------------------------------------------

# Series : - map()

In [ ]:
nm = pd.Series(['Male','Female','Male','Female','Female'])
nm

In [ ]:
# PS: convert Male to 0 and Female 1
# Map values of Series according to input correspondence.
nm.map({'Male':0,'Female':1})

## Series:- replace()

In [ ]:
nm

In [ ]:
# replace Male as 0 and Female as 1
nm.replace('Male',0)

In [ ]:
nm.replace({'Male':0,'Female':1})

### nlargest()

In [ ]:
s = pd.Series([12,2,4,56,77,911,0,123,245,600,10,11])
s

In [ ]:
# sort  a Series in Descending order
s.nlargest() # default it return 5 values

In [ ]:
# if we want more values then
s.nlargest(7)

### nsmallest()

In [ ]:
s.nsmallest()

In [ ]:
s.nsmallest(3)

### unique()

In [ ]:
x = pd.Series(['A','B','C','A','A','B'])
x

In [ ]:
# find out unique records
x.unique()

### nunique()

In [ ]:
# to get a count of unique reocrds use nunique()
x

In [ ]:
x.nunique() # returns a count of unique records

### value_counts()

In [ ]:
# Categorywise count will b given by value_counts

In [ ]:
x

In [ ]:
# give me the count of each category
x.value_counts() #per category count

## Convert a Series into....

In [ ]:
s

In [ ]:
# convert a series to numpy array
s.to_numpy()

In [ ]:
#using np
np.array(s)

In [ ]:
# convert series to csv or excel
s.to_csv('number_2.csv',index=False)

In [ ]:
# convert series to dict
print(s.to_dict())

In [ ]:
print(dict(s))

In [ ]:
s

In [ ]:
#convert a Series to list
list(s)

In [ ]:
s.to_list()

## head()

In [ ]:
#to display first 5 records
s.head()

In [ ]:
s.head(2)

# tail()

In [ ]:
s.tail() # returns last 5 records

In [ ]:
# last 3 records
s.tail(3)