**#PR1 :  Write a Python program which accepts the radius of a circle from the user and compute the area**

In [ ]:
from math import pi
r = float(input ("Input the radius of the circle : "))
print ("Area is = " + str(pi * r**2))

KeyboardInterrupt: Interrupted by user

**#PR2 :Write a Python program to accept a filename from the user and print the extension of that.**

In [ ]:

filename = input("Enter the Filename: ")
files_extns = filename.split(".")
print("Extension of the file is : " + repr(files_extns[-1]))

Enter the Filename: nilesh.sahane.java
Extension of the file is : 'java'

**#pr3 : Write a Python program to display the first and last colors from the following list.**

In [ ]:

color_list = ["Red","Green","White" ,"Black"]

In [ ]:
print(color_list[0])
print(color_list[-1])

Red
Black

**#pr4 : Write a Python program to display the examination schedule. (extract the date from exam_st_date).**

In [ ]:

#exam_st_date = (11, 12, 2014)
#Sample Output: The examination will start from : 11 / 12 / 2014

exam_st_date = (11, 12, 2014)

print('The examination will start from :' + str(exam_st_date[0]) +'/' + str(exam_st_date[1]) +'/'+ str(exam_st_date[2]))

The examination will start from :11/12/2014

**#pr5 : print calender given month**

In [ ]:

import calendar
y = int(input('Enter the year : '))
m = int(input('Enter the month : '))
print(calendar.month(y,m))

Enter the year : 2024
Enter the month : 09
   September 2024
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30

**pr6  : find number of day btween two **

In [ ]:

from datetime import date
first_date = date(2014, 6, 3)
last_date = date(2016, 6, 7)
delta = last_date - first_date
print(delta)

735 days, 0:00:00

**#pr8 : Write a Python program to print numbers in reverse**

In [ ]:


n = int(input('Enter Number : '))
while n>=1 :
  print(n)
  n = n-1

Enter Number : 8
8
7
6
5
4
3
2
1

**#pr9 : print all alphabets from A to Z.**

In [ ]:

a = 65
while a <= ord('Z') :
  print(chr(a))
  a+=1

A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

**#pr10:  print all even numbers between 1 to n.**

In [ ]:

a = 0
b = int(input('Enter Number : '))
while a <= b:
  if a%2 == 0:
    print(a)
    a+=1
  else:
    a+=1

Enter Number : 12
0
2
4
6
8
10
12

**#pr11: print all odd numbers between 1 to n.**

In [ ]:

a = 1
b = int(input('Enter Number : '))
while a <= b:
  if a%2 == 1:
    print(a)
    a+=1
  else:
    a+=1

Enter Number : 11
1
3
5
7
9
11

**List**

**PR12 : Find Second largest**

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Second largest element is:", a[n-2])

Enter number of elements:5
Enter element:8
Enter element:5
Enter element:1
Enter element:9
Enter element:2
Second largest element is: 8

9

**PR13 : Find  smallest**

In [ ]:
b=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    c=int(input("Enter element:"))
    b.append(c)
b.sort()
print("Second largest element is:", b[0])

Enter number of elements:4
Enter element:6
Enter element:7
Enter element:3
Enter element:2
Second largest element is: 2

**PR14 : Find duplicate number**

In [ ]:
f = [5,7,8,8,9,5,2,6,1,1]
duplicate = []
unique = []
for i in f:
  if i in unique:
    duplicate.append(i)
  else:
    unique.append(i)
print(duplicate)
print(unique)

[8, 5, 1]
[5, 7, 8, 9, 2, 6, 1]

**PR15 : Even and odd list**

In [ ]:
f = [5,7,8,8,9,5,2,6,1,1]
odd = []
even = []
for i in f:
  if i%2 == 0:
    even.append(i)
  else:
    odd.append(i)
print('odd list' + str(odd))
print('even list' + str(even))

odd list[5, 7, 9, 5, 1, 1]
even list[8, 8, 2, 6]

**PR16 : Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number .**

In [ ]:
a =[]
stratno = int(input('Enter lower number : '))
endno = int(input('Enter Higest number : '))
for i in range(stratno,endno+1):
  c= (i,i**2)
  a.append(c)
print(a)

Enter lower number : 1
Enter Higest number : 5
[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

**PR17 : Python Program to find perfect squre num from given range.**

In [ ]:
a = []
b = []
stratno = int(input('Enter lower number : '))
endno = int(input('Enter Higest number : '))
for i in range(stratno,endno+1):
  if (int(i**0.5))**2 == i:
      a.append(i)
  else :
      b.append(i)
print(a)

Enter lower number : 1
Enter Higest number : 50
[1, 4, 9, 16, 25, 36, 49]

**PR18 : print list in reverse order**

In [ ]:
b = [1, 4, 9, 16, 25, 36, 49]
for i in b[::-1]:
  print(i)

49
36
25
16
9
4
1

**PR19 : Python Program to swap First and last value from the list.**

In [ ]:
a = []
b = []
stratno = int(input('Enter lower number : '))
endno = int(input('Enter Higest number : '))
for i in range(stratno,endno+1):

**20. Write a Python program to find maximum between two numbers.**

In [ ]:
  num1 = int(input('Enter number  1 : '))
  num2 = int(input('Enter number 2 : '))
  if num1>num2:
    print( "Max number is " + str(num1))
  else:
   print( "Max number is " + str(num2))

Enter number  1 : 7
Enter number 2 : 7
Max number is 7

**21. Write a Python program to find maximum among three numbers.**

In [ ]:
  num1 = int(input('Enter number  1 : '))
  num2 = int(input('Enter number 2 : '))
  num3= int(input('Enter number 3 : '))
  if num1>num2 and num1>num3:
    print( "Max number is " + str(num1))
  elif num2>num3:
   print( "Max number is " + str(num2))
  else:
   print( "Max number is " + str(num3))

Enter number  1 : 7
Enter number 2 : 8
Enter number 3 : 5
Max number is 8

 **22. Write a Python program to check whether a number is negative, positive or
zero.**

In [ ]:
  num1 = int(input('Enter number  : '))

  if num1>0 :
    print( " Enterd number is positive" )
  elif num1<0:
   print( " Enterd number is negative")
  else:
   print( " Enterd number is zero")

Enter number  : 0
 Enterd number is zero

**23. Write a Python program to check whether a number is divisible by 5 and 11
or not.**

In [ ]:
  num1 = int(input('Enter number  : '))

  if num1%11==0 and num1%5==0:
   print( " Enterd number is divisible by 5 and 11")
  elif num1%5==0 :
    print( " Enterd number is divisible by 5 " )
  elif num1%11==0:
   print( " Enterd number is divisible by 11")
  else:
   print( " Enterd number is not divisible by 5 and 11")

Enter number  : 55
 Enterd number is divisible by 5 and 11

**24 : Write a Python program to check whether a year is leap year or not.**

In [ ]:
  yr = int(input('Enter year  : '))
  if yr%4 == 0:
    print('selected year ' , yr ,'is leap year')
  else :
   print('selected year' , yr ,'is not a leap year')

Enter year  : 2021
selected year 2021 is not a leap year

**25 : Write a Python program to print all natural numbers from 1 to n. - using while loop**

In [ ]:
  endnumber = int(input('Enter nth number  : '))
  startnumber = 0
  while startnumber < (endnumber + 1):
    print(startnumber)
    startnumber +=1

Enter nth number  : 9
0
1
2
3
4
5
6
7
8
9

**26 : Write a Python program to find sum of all natural numbers between 1 to n.**

In [2]:
  endnumber = int(input('Enter nth number  : '))
  startnumber = 0
  sum = 0
  totalsum=0
  while startnumber < (endnumber + 1):
    totalsum +=startnumber
    startnumber +=1
  print('total sum of all 0 to',endnumber, ' number is', totalsum)

Enter nth number  : 10
total sum of all 0 to 10  number is 55